[user]
	email = vanamerongen.morgan@gmail.com
	name = Morgan Van Amerongen
	signkey = E312D8EA2672C6A1
[merge]
	tool = nvimdiff
	ff = no
[init]
	defaultBranch = main
[credential]
	credentialStore = gpg
	helper = manager-core
[pull]
	rebase = true
[comit]
	gpgsign = true
